*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    display: flex;
    width: 100%;
}

.logo{
    width: 650px;
    height: 500px;
}

nav{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

#info{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 40px;
}

a{
    display: flex;
    color: white;
    text-decoration: underline;
}

#phone{
    width: 80px;
    height: 10%;
    margin-right: 50px;
}


#home{
    width: 85%;
    height: 100vh;
    border-radius: 12px; 
}

#home1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 2%;
    border-radius: 16px;
    background-color: rgb(255, 174, 0);
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    padding: 2%;
    border-radius: 16px;
    background-color: rgb(255, 174, 0);
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    width: 42%;
    color: black;
}

#cardapio{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    width: 50%;
}

#pizza{
    border-radius: 12px;
    margin-left: 120px;
    width: 700px;
    height: 400px;
}

#sobrenos{
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

#pizzaria{
    border-radius: 12px;
}

h4{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#sobre{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    width: 40%;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#q{
    font-size: 40px;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

#footer{
    width: 100vw;
    background-color: red;
    height: 100px;
}